@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'pretendard/dist/web/static/pretendard.css';

* {
  box-sizing: border-box;
  font-family: 'pretendard';
}

html,
body {
  padding: 0;
  margin: 0 auto;
  max-width: 375px; /* you can change according to your website */
}
